<h1 align="center">Vivid Data Analyst Assignment</h1>

<h2 align="center">Contact Center Analytics</h2>

The task is to analyse chat conversations from the raw data provided. Some KPIs among others we will be looking to analysze include:
* First Response Time (FRT)
* First Contact Resolution (FCR)
* Average Handle Time (AHT)
* Chat Volume Trend
* Chat Ratings
* Chat Resolution Time
* Monthly customer segments and their contact behaviour

### Workflow

* Import necessary libraries
* Connect to Database & Create Tables
* Load the data
* Exploratory Data Analysis (including summary statistics, visualization,answer some business questions, etc)
* Data Preprocessing/Feature engineering (Missing Data, Outliers, etc.)

### Install & import some necessary libraries

In [ ]:
#pip install ipython-sql (enables the use of SQL magic functions that contain % and %% , allowing you to write SQL style code right in Jupyter Notebook.)
#pip install sqlalchemy (used to store SQL queries into a pandas dataframe)
#pip install psycopg2 (a PostgreSQL adapter which provides an easy way to connect to and interface with a PostgreSQL database)

In [ ]:
%load_ext sql
from sqlalchemy import create_engine
from pyforest import *
lazy_imports()
import sqldf
import plotly.offline as pyoff
from plotly.offline import iplot, init_notebook_mode
init_notebook_mode(connected = True)
import warnings
warnings.filterwarnings('ignore')

### Connect ipython-sql and sqlalchemy to the database 'vivid'

In [ ]:
%sql postgresql://postgres:postgres@localhost/vivid

In [ ]:
engine = create_engine('postgresql://postgres:postgres@localhost/vivid')

### Create tables and copy csv contents into tables

In [ ]:
%%sql 

DROP TABLE IF EXISTS conversations;

CREATE TABLE conversations (CONVERSATION_HK varchar(100), CREATED_AT timestamp, STATUS_CD varchar(50),
CLOSED_AT timestamp, RATING_NUM float, LANGUAGE_CD varchar(50), FRT_DU_IN_MIN float,
INITIATOR_CD varchar(50), CUSTOMER_HK varchar(100));

Copy conversations FROM 'C:\Users\Public\Vivid\conversations.csv' DELIMITER ',' CSV HEADER;

In [ ]:
%%sql 

DROP TABLE IF EXISTS customers;

CREATE TABLE customers (CUSTOMER_HK varchar(100), DAY_DT timestamp,
BANK_IS_ACTIVE int, INVEST_IS_ACTIVE int, PLAN_NM varchar(50));

Copy customers FROM 'C:\Users\Public\Vivid\customers.csv' DELIMITER ',' CSV HEADER;

### Exploratory Data Analysis

In [ ]:
#Load 1st 2 rows of conversation table

SELECT * FROM conversations
LIMIT 2;

In [ ]:
#Load 1st 2 rows of customers table

SELECT * FROM customers
LIMIT 2;

In [ ]:
#convert conversations table to dataframe

df_conv = pd.read_sql('SELECT * FROM conversations',engine)
df_conv.head(2)

In [ ]:
#convert customers table to dataframe 

df_cust = pd.read_sql('SELECT * FROM customers',engine)
df_cust.head(2)

In [ ]:
#Count of the unique number of the features/columns

SELECT COUNT(DISTINCT CUSTOMER_HK) AS unique_customers,
COUNT(DISTINCT CONVERSATION_HK) AS unique_conv_keys,
COUNT(DISTINCT LANGUAGE_CD) AS unique_languages,
COUNT(DISTINCT INITIATOR_CD) AS unique_initiators,
COUNT(DISTINCT RATING_NUM) AS unique_ratings,
COUNT(DISTINCT STATUS_CD) AS unique_status 
FROM conversations;

### Conversation/Chat_ID

In [ ]:
#Unique count/number of Conversation/Chat Keys

query = """
SELECT CONVERSATION_HK AS Chat_Keys, COUNT() AS frequency FROM df_conv
GROUP BY  CONVERSATION_HK
ORDER BY frequency DESC;
"""

df_conv_key = sqldf.run(query)
df_conv_key

In [ ]:
#Conversation chat w.r.t frequency of contact for resolution (count of interactions)

query = """
SELECT frequency, COUNT(*) AS Count FROM df_conv_key
GROUP BY  frequency
ORDER BY COUNT(*) DESC;
"""

sqldf.run(query)

In [ ]:
#Missing data from conversation_hk column 

(SELECT SUM(CASE WHEN conversation_hk is null THEN 1 ELSE 0 END) 
AS Number_Of_Null_Values,
COUNT(conversation_hk) AS Number_Of_Non_Null_Values
FROM conversations)

In [ ]:
#Percentage missing data from conversation_hk column 

SELECT SUM(CASE WHEN conversation_hk IS NULL OR conversation_hk IN ('') THEN 1 ELSE 0 END)::FLOAT/COUNT(*) 
AS chat_percent_missing 
FROM conversations;

### Customer_ID

In [ ]:
#Unique count/number of Customer Keys

query = """
SELECT CUSTOMER_HK AS Customer_Keys, COUNT() AS frequency FROM df_conv
GROUP BY  CUSTOMER_HK
ORDER BY frequency DESC;
"""
sqldf.run(query)

In [ ]:
#Missing data from customer_hk column 

(SELECT SUM(CASE WHEN customer_hk is null THEN 1 ELSE 0 END) 
AS Number_Of_Null_Values,
COUNT(customer_hk) AS Number_Of_Non_Null_Values
FROM conversations)

In [ ]:
#Percentage of Missing data from customer_hk column 

SELECT SUM(CASE WHEN customer_hk IS NULL OR customer_hk IN ('') THEN 1 ELSE 0 END)::FLOAT/COUNT(*) 
AS cust_percent_missing 
FROM conversations;

### Chat Language

In [ ]:
#Visualization of the count of Chat Languages

query = """
SELECT language_cd AS Chat_Languages, COUNT() as Count FROM df_conv 
GROUP BY language_cd
ORDER BY Count DESC;
"""
#sqldf.run(query)
languages = sqldf.run(query)
languages.set_index('Chat_Languages',inplace=True)
languages.plot(kind='bar', title='Unique Chat languaues')
print(languages)

In [ ]:
#Missing values in language_cd column

(SELECT SUM(CASE WHEN language_cd is null THEN 1 ELSE 0 END) 
AS Number_Of_Null_Values,
COUNT(language_cd) AS Number_Of_Non_Null_Values
FROM conversations)

In [ ]:
#Statistics of language_cd column

SELECT language_cd, MIN(rating_num), MAX(rating_num), AVG(rating_num), STDDEV(rating_num)
FROM conversations
GROUP BY 1
ORDER BY 1;

In [ ]:
#Chats count by the languages with at least 2,000 chats

SELECT language_cd, COUNT(*)
FROM conversations
GROUP BY language_cd
HAVING COUNT(*)>=2000
ORDER BY language_cd

In [ ]:
#Percentage missing in language_cd column

SELECT SUM(CASE WHEN language_cd IS NULL OR language_cd IN ('') THEN 1 ELSE 0 END)::FLOAT/COUNT(*) 
AS lang_percent_missing 
FROM conversations;

### Chat Initiator

In [ ]:
#Unique count/number of Chat Initiator 

query = """
SELECT initiator_cd AS Chat_Initiator, COUNT(*) AS Count FROM df_conv
GROUP BY  initiator_cd
ORDER BY COUNT(*) DESC;
"""

sqldf.run(query)

### Chat Creation Timestamp

In [ ]:
#Unique count/number of Chat Creation Timestamp

query = """
SELECT created_at AS Chat_Created, COUNT(*) AS Count FROM df_conv
GROUP BY  created_at
ORDER BY COUNT(*) DESC;
"""

sqldf.run(query)

* **CREATED_AT:** Timestamp of chat creation. No missing values.

### Chat Closure Timestamp

In [ ]:
#Unique count/number of Chat Closure Timestamp

query = """
SELECT closed_at AS Chat_Closure, COUNT(*) AS Count FROM df_conv
GROUP BY  closed_at
ORDER BY COUNT(*) DESC;
"""

sqldf.run(query)

In [ ]:
#Missing values in created_at & closed_at columns

(SELECT SUM(CASE WHEN created_at is null THEN 1 ELSE 0 END) 
AS Number_Of_Null_Values,
COUNT(created_at) AS Number_Of_Non_Null_Values
FROM conversations)

UNION

(SELECT SUM(CASE WHEN closed_at is null THEN 1 ELSE 0 END) 
AS Number_Of_Null_Values,
COUNT(closed_at) AS Number_Of_Non_Null_Values
FROM conversations)

### Chat Status

In [ ]:
#Unique count/number of Chat Status

query = """
SELECT status_cd AS Chat_Status, COUNT() AS Count FROM df_conv
GROUP BY  status_cd
ORDER BY COUNT(*) DESC;
"""
sqldf.run(query)

### Chat Rating

In [ ]:
#Unique count/number of Chat Rating

query = """
SELECT rating_num AS Chat_Rating, COUNT(*) AS Count FROM df_conv
GROUP BY  rating_num
ORDER BY COUNT(*) DESC;
"""

sqldf.run(query)

In [ ]:
#Rating Statistics

SELECT MIN(rating_num), MAX(rating_num), AVG(rating_num), STDDEV(rating_num)
FROM conversations;

In [ ]:
#Staistics grouped by Chat Status

SELECT status_cd, MIN(rating_num), MAX(rating_num), AVG(rating_num), STDDEV(rating_num)
FROM conversations
GROUP BY 1
ORDER BY 1;

### First Response Time

In [ ]:
#Unique count/number of First Response Time

query = """
SELECT frt_du_in_min AS Chat_FRT, COUNT() AS Count FROM df_conv
GROUP BY  frt_du_in_min
ORDER BY COUNT(*) DESC;
"""

sqldf.run(query)

In [ ]:
#Unique count/number of First Response Time

query = """
SELECT frt_du_in_min AS Chat_FRT, COUNT() AS Count FROM df_conv
GROUP BY  frt_du_in_min
ORDER BY Chat_FRT DESC;
"""

sqldf.run(query)

In [ ]:
#FRT Statistics

SELECT MIN(frt_du_in_min), MAX(frt_du_in_min), AVG(frt_du_in_min), STDDEV(frt_du_in_min)
FROM conversations;

In [ ]:
#Count/number of First Response Time above 1 minute

query = """
SELECT COUNT(frt_du_in_min) AS Count FROM df_conv
WHERE frt_du_in_min > 2
AND frt_du_in_min IS NOT NULL;
"""

sqldf.run(query)

In [ ]:
#Count/number of First Response Time <= 1 minute

query = """
SELECT COUNT(frt_du_in_min) AS Count FROM df_conv
WHERE frt_du_in_min <= 1;
"""

sqldf.run(query)

In [ ]:
#Count/number of First Response Time <= 1 hour

query = """
SELECT COUNT(frt_du_in_min) AS Count FROM df_conv
WHERE frt_du_in_min >= 60;
"""

sqldf.run(query)

### Chat Volume Analysis

In [ ]:
#Yearly Volume Trend

SELECT DATE_TRUNC('year', created_at) AS Year_Date,
COUNT(1) AS Chats_Vol
FROM conversations
GROUP BY 1
ORDER BY 1;

In [ ]:
#Interactions per month

SELECT DISTINCT month, 
       min(total_messages) over (partition by month) AS MIN, 
       max(total_messages) over (partition by month) AS MAX, 
       avg(total_messages) over (partition by month) AS average
FROM (
SELECT conversation_hk, 
       COUNT(conversation_hk) AS total_messages, 
       DATE_TRUNC('month', created_at) AS month
FROM conversations
GROUP BY conversation_hk, month)

In [ ]:
#Monthly Volume Trend

SELECT DATE_TRUNC('month', created_at) AS Month_Date,
COUNT(1) AS Chats_Vol
FROM conversations
GROUP BY 1
ORDER BY 1;

In [ ]:
#Volume Trend by date

SELECT DATE_TRUNC('day', created_at) AS Day_Date,
COUNT(1) AS Daily_Chats_Vol
FROM conversations
GROUP BY 1
ORDER BY 1;

In [ ]:
#Daily Volume Trend

SELECT EXTRACT(day FROM created_at) AS day,
COUNT (1) AS total_count
FROM conversations
GROUP BY 1
ORDER BY 1;

In [ ]:
#Hourly Volume Trend

SELECT EXTRACT(hour FROM created_at) AS hour,
COUNT (1)
FROM conversations
GROUP BY 1
ORDER BY 1;

### Chat Handling Time (CHT)

In [ ]:
#Chat Handing Time

SELECT conversation_hk, created_at, closed_at,
EXTRACT(epoch FROM closed_at - created_at)/60 AS Handling_Time
FROM conversations
LIMIT 10;

### Average, Minimum & Maximum Chat Handle Time (CHT)

In [ ]:
#CHT Statistics

SELECT min(Chat_Handle_Time) AS MIN_CHT,
       max(Chat_Handle_Time) AS MAX_CHT,
       avg(Chat_Handle_Time) AS AVG_CHT
FROM (SELECT EXTRACT(epoch FROM closed_at - created_at) AS Chat_Handle_Time
FROM conversations;